___

<a href='http://www.pieriandata.com'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Copyright Pierian Data</em></center>
<center><em>For more information, visit us at <a href='http://www.pieriandata.com'>www.pieriandata.com</a></em></center>

# Groupby

The groupby method allows you to group rows of data together and call aggregate functions

In [34]:
import pandas as pd

In [35]:
# We will cover reading in data in a lot more detail in a later lecture!
df = pd.read_csv('Universities.csv')

In [36]:
# Show first N rows (N=5 by default)
df.head()

,Sector,University,Year,Completions,Geography
0,"Private for-profit, 2-year",Pima Medical Institute-Las Vegas,2016,591,Nevada
1,"Private for-profit, less-than 2-year",Healthcare Preparatory Institute,2016,28,Nevada
2,"Private for-profit, less-than 2-year",Milan Institute-Las Vegas,2016,408,Nevada
3,"Private for-profit, less-than 2-year",Utah College of Massage Therapy-Vegas,2016,240,Nevada
4,"Public, 4-year or above",Western Nevada College,2016,960,Nevada

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207 entries, 0 to 206
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sector       207 non-null    object
 1   University   207 non-null    object
 2   Year         207 non-null    int64
 3   Completions  207 non-null    int64
 4   Geography    207 non-null    object
dtypes: int64(2), object(3)
memory usage: 8.2+ KB

Now you can use the .groupby() method to group rows together based off of a **categorical** column. This column will then be reassigned to be the index.

Notice we have 2 steps:

1. Choose a categorical column to group by
2. Choose your aggregation function. Recall an aggregation function should take multiple values and return a single value (e.g. max,min, mean, std, etc...)

In [38]:
# Step 1 simply returns a special groupby object waiting to have an aggregate method called on it!
df.groupby('Year').sum()

,Sector,University,Completions,Geography
Year,,,,
2012,"Private for-profit, less-than 2-yearPrivate fo...",Academy of Hair Design-Las VegasCareer College...,20333,NevadaNevadaNevadaNevadaNevadaNevadaNevadaNeva...
2013,"Private for-profit, 2-yearPrivate for-profit, ...",Aviation Institute of Maintenance-Las VegasDeV...,21046,NevadaNevadaNevadaNevadaNevadaNevadaNevadaNeva...
2014,"Private not-for-profit, 4-year or abovePrivate...",Roseman University of Health SciencesExpertise...,24730,NevadaNevadaNevadaNevadaNevadaNevadaNevadaNeva...
2015,"Private for-profit, 2-yearPrivate not-for-prof...",Pima Medical Institute-Las VegasRoseman Univer...,26279,NevadaNevadaNevadaNevadaNevadaNevadaNevadaNeva...
2016,"Private for-profit, 2-yearPrivate for-profit, ...",Pima Medical Institute-Las VegasHealthcare Pre...,26224,NevadaNevadaNevadaNevadaNevadaNevadaNevadaNeva...

In [39]:
df["jaar"] = df["Year"].astype(str)
df

,Sector,University,Year,Completions,Geography,jaar
0,"Private for-profit, 2-year",Pima Medical Institute-Las Vegas,2016,591,Nevada,2016
1,"Private for-profit, less-than 2-year",Healthcare Preparatory Institute,2016,28,Nevada,2016
2,"Private for-profit, less-than 2-year",Milan Institute-Las Vegas,2016,408,Nevada,2016
3,"Private for-profit, less-than 2-year",Utah College of Massage Therapy-Vegas,2016,240,Nevada,2016
4,"Public, 4-year or above",Western Nevada College,2016,960,Nevada,2016
...,...,...,...,...,...,...
202,"Private for-profit, 2-year",Carrington College-Las Vegas,2012,120,Nevada,2012
203,"Public, 4-year or above",Western Nevada College,2012,495,Nevada,2012
204,"Private for-profit, 2-year",Nevada Career Institute,2012,101,Nevada,2012
205,"Private not-for-profit, 2-year",Expertise Cosmetology Institute,2012,129,Nevada,2012
206,"Public, 2-year",Truckee Meadows Community College,2012,1170,Nevada,2012

In [44]:
df.groupby('jaar').sum().sort_index(ascending=False)

,Sector,University,Year,Completions,Geography
jaar,,,,,
2016,"Private for-profit, 2-yearPrivate for-profit, ...",Pima Medical Institute-Las VegasHealthcare Pre...,86688,26224,NevadaNevadaNevadaNevadaNevadaNevadaNevadaNeva...
2015,"Private for-profit, 2-yearPrivate not-for-prof...",Pima Medical Institute-Las VegasRoseman Univer...,88660,26279,NevadaNevadaNevadaNevadaNevadaNevadaNevadaNeva...
2014,"Private not-for-profit, 4-year or abovePrivate...",Roseman University of Health SciencesExpertise...,84588,24730,NevadaNevadaNevadaNevadaNevadaNevadaNevadaNeva...
2013,"Private for-profit, 2-yearPrivate for-profit, ...",Aviation Institute of Maintenance-Las VegasDeV...,80520,21046,NevadaNevadaNevadaNevadaNevadaNevadaNevadaNeva...
2012,"Private for-profit, less-than 2-yearPrivate fo...",Academy of Hair Design-Las VegasCareer College...,76456,20333,NevadaNevadaNevadaNevadaNevadaNevadaNevadaNeva...

In [55]:
df.filter(items=["Year", "Completions"]).groupby('Year').mean().sort_index(ascending=False)

      Completions
Year
2016   609.860465
2015   597.250000
2014   588.809524
2013   526.150000
2012   535.078947

-----
## Other Aggregate Functions

<table><td><tt
><span
>count</span></tt></td><td>Number of non-null observations</td></tr><tr
><td><tt
><span
>sum</span></tt></td><td>Sum of values</td></tr><tr
><td><tt
><span
>mean</span></tt></td><td>Mean of values</td></tr><tr
><td><tt
><span
>mad</span></tt></td><td>Mean absolute deviation</td></tr><tr
><td><tt
><span
>median</span></tt></td><td>Arithmetic median of values</td></tr><tr
><td><tt
><span
>min</span></tt></td><td>Minimum</td></tr><tr
><td><tt
><span
>max</span></tt></td><td>Maximum</td></tr><tr
><td><tt
><span
>mode</span></tt></td><td>Mode</td></tr><tr
><td><tt
><span
>abs</span></tt></td><td>Absolute Value</td></tr><tr
><td><tt
><span
>prod</span></tt></td><td>Product of values</td></tr><tr
><td><tt
><span
>std</span></tt></td><td>Unbiased standard deviation</td></tr><tr
><td><tt
><span
>var</span></tt></td><td>Unbiased variance</td></tr><tr
><td><tt
><span
>sem</span></tt></td><td>Unbiased standard error of the mean</td></tr><tr
><td><tt
><span
>skew</span></tt></td><td>Unbiased skewness (3rd moment)</td></tr><tr
><td><tt
><span
>kurt</span></tt></td><td>Unbiased kurtosis (4th moment)</td></tr><tr
><td><tt
><span
>quantile</span></tt></td><td>Sample quantile (value at %)</td></tr><tr
><td><tt
><span
>cumsum</span></tt></td><td>Cumulative sum</td></tr><tr
><td><tt
><span
>cumprod</span></tt></td><td>Cumulative product</td></tr><tr
><td><tt
><span
>cummax</span></tt></td><td>Cumulative maximum</td></tr><tr
><td><tt
><span
>cummin</span></tt></td><td>Cumulative minimum</td></tr></tbody></table>

----

## Grouping By multiple columns

In [46]:
df.head()

,Sector,University,Year,Completions,Geography,jaar
0,"Private for-profit, 2-year",Pima Medical Institute-Las Vegas,2016,591,Nevada,2016
1,"Private for-profit, less-than 2-year",Healthcare Preparatory Institute,2016,28,Nevada,2016
2,"Private for-profit, less-than 2-year",Milan Institute-Las Vegas,2016,408,Nevada,2016
3,"Private for-profit, less-than 2-year",Utah College of Massage Therapy-Vegas,2016,240,Nevada,2016
4,"Public, 4-year or above",Western Nevada College,2016,960,Nevada,2016

In [48]:
df.groupby(['Year','Sector']).sum()

                                                                                     University  \
Year Sector
2012 Private for-profit, 2-year               Career College of Northern NevadaPaul Mitchell...
     Private for-profit, 4-year or above      Sanford-Brown College-Las VegasITT Technical I...
     Private for-profit, less-than 2-year     Academy of Hair Design-Las VegasMilan Institut...
     Private not-for-profit, 2-year           Everest College-HendersonExpertise Cosmetology...
     Private not-for-profit, 4-year or above  Roseman University of Health SciencesTouro Uni...
     Public, 2-year                                           Truckee Meadows Community College
     Public, 4-year or above                  University of Nevada-RenoCollege of Southern N...
2013 Private for-profit, 2-year               Aviation Institute of Maintenance-Las VegasCar...
     Private for-profit, 4-year or above      DeVry University-NevadaITT Technical Institute...
     Private for-profit, less-than 2-year     Academy of Hair Design-Las VegasMilan Institut...
     Private not-for-profit, 2-year           Expertise Cosmetology InstituteEverest College...
     Private not-for-profit, 4-year or above  Roseman University of Health SciencesTouro Uni...
     Public, 2-year                                           Truckee Meadows Community College
     Public, 4-year or above                  University of Nevada-RenoUniversity of Nevada-...
2014 Private for-profit, 2-year               Nevada Career InstituteEuphoria Institute of B...
     Private for-profit, 4-year or above      Sanford-Brown College-Las VegasThe Art Institu...
     Private for-profit, less-than 2-year     Healthcare Preparatory InstituteMilan Institut...
     Private not-for-profit, 2-year           Expertise Cosmetology InstituteEverest College...
     Private not-for-profit, 4-year or above  Roseman University of Health SciencesSierra Ne...
     Public, 2-year                                           Truckee Meadows Community College
     Public, 4-year or above                  College of Southern NevadaWestern Nevada Colle...
2015 Private for-profit, 2-year               Pima Medical Institute-Las VegasBrightwood Col...
     Private for-profit, 4-year or above      ITT Technical Institute-Las VegasUniversity of...
     Private for-profit, less-than 2-year     Milan Institute-SparksHealthcare Preparatory I...
     Private not-for-profit, 2-year           Everest College-HendersonExpertise Cosmetology...
     Private not-for-profit, 4-year or above  Roseman University of Health SciencesSierra Ne...
     Public, 2-year                                           Truckee Meadows Community College
     Public, 4-year or above                  University of Nevada-Las VegasGreat Basin Coll...
2016 Private for-profit, 2-year               Pima Medical Institute-Las VegasNorthwest Care...
     Private for-profit, 4-year or above      University of Phoenix-NevadaChamberlain Colleg...
     Private for-profit, less-than 2-year     Healthcare Preparatory InstituteMilan Institut...
     Private not-for-profit, 2-year           Everest College-HendersonExpertise Cosmetology...
     Private not-for-profit, 4-year or above  Sierra Nevada CollegeWongu University of Orien...
     Public, 2-year                                           Truckee Meadows Community College
     Public, 4-year or above                  Western Nevada CollegeGreat Basin CollegeNevad...

                                              Completions  \
Year Sector
2012 Private for-profit, 2-year                      3072
     Private for-profit, 4-year or above              632
     Private for-profit, less-than 2-year            1327
     Private not-for-profit, 2-year                   665
     Private not-for-profit, 4-year or above         1059
     Public, 2-year                                  1170
     Public, 4-year or above                        12408
2013 Private for-profit, 2-year                      3053
     Private for-profit, 4-year or above              775
     Private for-profit, less-than 2-year            1281
     Private not-for-profit, 2-year                   471
     Private not-for-profit, 4-year or above         1016
     Public, 2-year                                  1633
     Public, 4-year or above                        12817
2014 Private for-profit, 2-year                      2957
     Private for-profit, 4-year or above             1506
     Private for-profit, less-than 2-year            1328
     Private not-for-profit, 2-year                   449
     Private not-for-profit, 4-year or above         1042
     Public, 2-year                                  2286
     Public, 4-year or above                        15162
2015 Private for-profit, 2-year                      3280
     Private for-profit, 4-year or above             1306
     Private for-profit, less-than 2-year            1629
     Private not-for-profit, 2-year                   425
     Private not-for-profit, 4-year or above         1228
     Public, 2-year                                  2355
     Public, 4-year or above                        16056
2016 Private for-profit, 2-year                      3286
     Private for-profit, 4-year or above              748
     Private for-profit, less-than 2-year            1552
     Private not-for-profit, 2-year                   322
     Private not-for-profit, 4-year or above         1208
     Public, 2-year                                  2431
     Public, 4-year or above                        16677

                                                                                      Geography  \
Year Sector
2012 Private for-profit, 2-year               NevadaNevadaNevadaNevadaNevadaNevadaNevadaNeva...
     Private for-profit, 4-year or above                               NevadaNevadaNevadaNevada
     Private for-profit, less-than 2-year            NevadaNevadaNevadaNevadaNevadaNevadaNevada
     Private not-for-profit, 2-year                                                NevadaNevada
     Private not-for-profit, 4-year or above                                 NevadaNevadaNevada
     Public, 2-year                                                                      Nevada
     Public, 4-year or above                               NevadaNevadaNevadaNevadaNevadaNevada
2013 Private for-profit, 2-year               NevadaNevadaNevadaNevadaNevadaNevadaNevadaNeva...
     Private for-profit, 4-year or above                         NevadaNevadaNevadaNevadaNevada
     Private for-profit, less-than 2-year            NevadaNevadaNevadaNevadaNevadaNevadaNevada
     Private not-for-profit, 2-year                                                NevadaNevada
     Private not-for-profit, 4-year or above                                 NevadaNevadaNevada
     Public, 2-year                                                                      Nevada
     Public, 4-year or above                               NevadaNevadaNevadaNevadaNevadaNevada
2014 Private for-profit, 2-year               NevadaNevadaNevadaNevadaNevadaNevadaNevadaNeva...
     Private for-profit, 4-year or above                   NevadaNevadaNevadaNevadaNevadaNevada
     Private for-profit, less-than 2-year      NevadaNevadaNevadaNevadaNevadaNevadaNevadaNevada
     Private not-for-profit, 2-year                                                NevadaNevada
     Private not-for-profit, 4-year or above                                 NevadaNevadaNevada
     Public, 2-year                                                                      Nevada
     Public, 4-year or above                               NevadaNevadaNevadaNevadaNevadaNevada
2015 Private for-profit, 2-year               NevadaNevadaNevadaNevadaNevadaNevadaNevadaNeva...
     Private for-profit, 4-year or above       NevadaNevadaNevadaNevadaNevadaNevadaNevadaNevada
     Private for-profit, less-than 2-year      NevadaNevadaNevadaNevadaNevadaNevadaNevadaNevada
     Private not-for-profit, 2-year                                                NevadaNevada
     Private not-for-profit, 4-year or above                                 NevadaNevadaNevada
     Public, 2-year                                                                      Nevada
     Public, 4-year or above                               NevadaNevadaNevadaNevadaNevadaNevada
2016 Private for-profit, 2-year               NevadaNevadaNevadaNevadaNevadaNevadaNevadaNeva...
     Private for-profit, 4-year or above                   NevadaNevadaNevadaNevadaNevadaNevada
     Private for-profit, less-than 2-year      NevadaNevadaNevadaNevadaNevadaNevadaNevadaNevada
     Private not-for-profit, 2-year                                                NevadaNevada
     Private not-for-profit, 4-year or above                           NevadaNevadaNevadaNevada
     Public, 2-year                                                                      Nevada
     Public, 4-year or above                               NevadaNevadaNevadaNevadaNevadaNevada

                                                                                           jaar
Year Sector
2012 Private for-profit, 2-year               2012201220122012201220122012201220122012201220...
     Private for-profit, 4-year or above                                       2012201220122012
     Private for-profit, less-than 2-year                          2012201220122012201220122012
     Private not-for-profit, 2-year                                                    20122012
     Private not-for-profit, 4-year or above                                       201220122012
     Public, 2-year                                                                        2012
     Public, 4-year or above                                           201220122012201220122012
2013 Private for-profit, 2-year               2013201320132013201320132013201320132013201320...
     Private for-profit, 4-year or above                                   20132013201320132013
     Private for-profit, less-than 2-year                          2013201320132013201320132013
     Private not-for-profit, 2-year                                                    20132013
     Private not-for-profit, 4-year or above                                       201320132013
     Public, 2-year                                                                        2013
     Public, 4-year or above                                           201320132013201320132013
2014 Private for-profit, 2-year               2014201420142014201420142014201420142014201420...
     Private for-profit, 4-year or above                               201420142014201420142014
     Private for-profit, less-than 2-year                      20142014201420142014201420142014
     Private not-for-profit, 2-year                                                    20142014
     Private not-for-profit, 4-year or above                                       201420142014
     Public, 2-year                                                                        2014
     Public, 4-year or above                                           201420142014201420142014
2015 Private for-profit, 2-year               2015201520152015201520152015201520152015201520...
     Private for-profit, 4-year or above                       20152015201520152015201520152015
     Private for-profit, less-than 2-year                      20152015201520152015201520152015
     Private not-for-profit, 2-year                                                    20152015
     Private not-for-profit, 4-year or above                                       201520152015
     Public, 2-year                                                                        2015
     Public, 4-year or above                                           201520152015201520152015
2016 Private for-profit, 2-year               2016201620162016201620162016201620162016201620...
     Private for-profit, 4-year or above                               201620162016201620162016
     Private for-profit, less-than 2-year                      20162016201620162016201620162016
     Private not-for-profit, 2-year                                                    20162016
     Private not-for-profit, 4-year or above                                   2016201620162016
     Public, 2-year                                                                        2016
     Public, 4-year or above                                           201620162016201620162016

In [49]:
df.groupby('Year').describe()

     Completions
           count        mean          std   min     25%    50%     75%     max
Year
2012        38.0  535.078947  1036.433239  13.0  114.25  229.5  420.50  5388.0
2013        40.0  526.150000  1040.474782   0.0   98.50  189.0  413.00  5278.0
2014        42.0  588.809524  1150.355857   0.0  104.50  203.5  371.75  5093.0
2015        44.0  597.250000  1183.371791   0.0   87.75  191.0  405.75  5335.0
2016        43.0  609.860465  1235.952796   0.0   90.00  208.0  414.00  5367.0

In [50]:
df.groupby('Year').describe().transpose()

Year                      2012         2013         2014         2015  \
Completions count    38.000000    40.000000    42.000000    44.000000
            mean    535.078947   526.150000   588.809524   597.250000
            std    1036.433239  1040.474782  1150.355857  1183.371791
            min      13.000000     0.000000     0.000000     0.000000
            25%     114.250000    98.500000   104.500000    87.750000
            50%     229.500000   189.000000   203.500000   191.000000
            75%     420.500000   413.000000   371.750000   405.750000
            max    5388.000000  5278.000000  5093.000000  5335.000000

Year                      2016
Completions count    43.000000
            mean    609.860465
            std    1235.952796
            min       0.000000
            25%      90.000000
            50%     208.000000
            75%     414.000000
            max    5367.000000

# Great Job!